.item {
  width: fit-content;
  position: relative;

  cursor: pointer;

  isolation: isolate;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(247, 247, 247, 0) 100%
  );

  z-index: 5;
}

.item:hover > .background,
.item:hover > .background-desktop {
  filter: opacity(0.2);
}

.item:hover > .text {
  filter: invert(1);
}

.text {
  margin: 0;
  max-width: 45%;

  position: absolute;
  bottom: 1rem;
  left: 1rem;

  font-size: 1.5rem;
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: "Josefin Sans", sans-serif;

  text-transform: uppercase;

  color: white;

  z-index: 10;

  transform: filter 500ms;
}

.background,
.background-desktop {
  z-index: 3;
  transition: filter 350ms;
}

.background-desktop {
  display: none;
}

@media screen and (min-width: 45em) {
  .item::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(247, 247, 247, 0) 100%
    );

    z-index: 5;
  }

  .text {
    max-width: 75%;
  }

  .background {
    display: none;
  }

  .background-desktop {
    display: block;
  }
}
