.header {
  padding: 2rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 150px;
}

.hamburger {
  cursor: pointer;
}

.desktop-nav {
  display: none;
}

@media screen and (min-width: 45em) {
  .hamburger {
    display: none;
  }

  .desktop-nav {
    display: flex;
    gap: 1.5rem;
  }

  .link-container {
    position: relative;
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .active-link {
    height: 2px;

    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -8px;

    background-color: white;
  }
}
