.footer {
  padding-block: 3.25rem;
  background-color: black;
}

.container {
  display: grid;
  justify-items: center;

  text-align: center;
}

.logo {
  max-width: 150px;
}

.links {
  margin-block: 2.25rem;
}

.link {
  margin-bottom: 1.25rem;
  display: block;

  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;

  text-decoration: none;
  color: white;
}

.link:last-child {
  margin-bottom: 0;
}

.social-logos {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-logo {
  cursor: pointer;
  transition: transform 250ms;
}

.social-logo:hover {
  transform: scale(1.2);
}

.text {
  margin-top: 1.25rem;
  color: var(--dark-gray);
}

@media screen and (min-width: 50em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    align-items: center;
    gap: 1.25rem;
  }

  .logo {
    grid-column: 1;
    grid-row: 1;

    justify-self: flex-start;
  }

  .social-logos {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
  }

  .links {
    margin: 0;

    display: flex;
    gap: 1rem;
    justify-self: flex-start;
  }

  .link {
    margin: 0;
    font-size: 1rem;
  }

  .text {
    margin: 0;
    justify-self: flex-end;
  }
}
