:root {
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --px-site: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Alata", sans-serif;
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 15px;
}

.no-scroll {
  overflow-y: hidden;
}

img {
  max-width: 100%;
}
